altgraph==0.17.4
certifi==2025.7.14
charset-normalizer==3.4.2
ffmpeg-python==0.2.0
future==1.0.0
humanize==4.12.3
idna==3.10
packaging==25.0
pillow==11.3.0
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.0
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
PySide2==5.13.2
requests==2.32.4
setuptools==80.9.0
shiboken2==5.13.2
urllib3==2.5.0
wget==3.2
yt-dlp==2025.7.21
